*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
header{
    background-color: orange;
    height: 70px;
    width: 100%;
    font-size: 23px;
    padding: 20px;
    font-family: 'Edu QLD Beginner', cursive;
    position: fixed;

}
.logo{
    float: left;
    color: white;
    text-transform: capitalize;
    font-size: 40px;
}
.logo span{
    color:#333;
}
.barra{
    float: right;
    text-transform: capitalize;
}
.barra li{
    list-style: none;
    display: inline-block;
}
.barra a{
    color: white;
    text-decoration: none;
}
.barra a:hover{
    color: #333;
}
li{
    padding: 8px 6px;
}
