.home{
    height: 100vh;
    background-image: url('/background-home-1.png');
    background-size: cover;
    background-position: bottom;
}
.carousel .carousel-item{
    height: 25em;
    background-size: cover;
    background-position: center;
}
.carousel .carousel-img-1 {
    background-image: url('/carousel/1.jpg');
}
.carousel .carousel-img-2 {
    background-image: url('/carousel/2.jpg');
    background-position: bottom!important;
}
.carousel .carousel-img-3 {
    background-image: url('/carousel/3.jpg');
}
.btn-comprar{
    margin-top: 1em;
}