body{
  margin: 0;
  padding: 0;
  background-color: #ebebeb!important;
}

.home{
  height: 100vh;
  background-image: url('/background-home-1.png');
  background-size: cover;
  background-position: bottom;
}
.red{
  background-color: red;
}
.blue{
  background-color: blue;
}